.rowContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.timeRange {
    font-size: 16px;
    color: #4F6C92;
}
.city{
    color: #a4b8d3;
    font-size: 14px;
}

.timeAndCityContainer{
    display: flex;
    flex-direction: column;
}

.bookedLabel {
    color: #55cb82;
    border-radius: 5px;
    border: 1px solid #55cb82;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    height: 42px;
    width: 80px
}

.cancelButton {
    border: 1px solid #e2006A;
    color: #e2006A;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    height: 42px;
    width: 80px
}

.infotext{
    margin-right: 16px;
}

.overlap{
    color: #e2006A
}

.booked{
    color: #4f6c92;
}
.disabledBtn{
    opacity: 0.5;
}
.pastShift{
    color:lightgrey
}