.dayLabel{
    font-size: 16px;
    background-color: #F7F8FB;
    padding: 16px 8px;
    color: #4f6c92;
    font-weight: bold;
  }
  .totalShifts{
    font-size: 14px;
    color: #ABBED6;
  }
  .totalTime{
    font-size: 14px;
    color: #ABBED6
  }
  .loader{
    height: 100vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }